@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: "Medium";   /*Can be any text*/
    src:  url("./fonts/Ubuntu-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "bold";   /*Can be any text*/
    src: local("Ubuntu-Bold"),
      url("./fonts/Ubuntu-Bold.ttf") format("truetype");
  }
 body{
    font-family: Medium;
 }

 a.active span{
   background-color: #ADD8E6;
 color: black;
 border: none;
 }


